/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bt-bg-header: #2c3e50;
    --bs-bg-primary: #1bbc9d;
    --bs-bg-secondary: #3a546d;
    --bs-dark: #323233;
    --bs-light: #fff;
}

/* #endregion Common */

/* #region Header */

header{
    background-color: var(--bt-bg-header);
    font-weight: bold;
}

.nav-link{
    color: var(--bs-light);
}

/* #endregion Header */

/* #region Main */

/* Start Bootstrap */

.start{
    background-color: var(--bs-bg-primary);
}

.start img{
    width: 250px;
}

.start h1{
    font-size: 2.5rem;
}

.start .line{
    height: 5px;
    width: 75px;
    border-radius: 30px;
}

.start .star{
    font-size: 1.5rem;
}

/* /Start Bootstrap */

/* #endregion Main */

/* #region Responsive */

@media screen and (min-width: 768px) {
    .start h1{
        font-size: 3rem;
    }

    .start .line{
        width: 150px;
    }
}

/* #endregion Responsive */